.p1{
  margin: 1em;
}

.p3{
   margin: 2em;
}

.p2{
  border: 1px solid;
  border-radius: 2em;
  border-color: blue;
  text-shadow: #FC0 1px 0 10px;
  transform: translateY(100px) rotate(45deg) scaleX(0.3);
  
}
.p4{
  background: -webkit-linear-gradient(top, #FFFFFF, #666666);
  background: -webkit-linear-gradient(top right, #FFFFFF, #666666);
  background: -webkit-linear-gradient(30deg, #FFFFFF, #666666);
  background: -webkit-linear-gradient(top, transparent, #666666);
  transform: perspective(500px) rotate3d(0, 1, 0, 45deg);
}