body{
    font-family: sans-serif;
}

section[name="seccion1"]{
    margin: 1em;
    border: 1px;
    border-style: dotted;
    padding: 50px;

    background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/fs/29ddea64040367.5ac501df147d7.jpg);
    background-position: left;
    background-size: auto;
    background-repeat: round;
    background-size: contain;
    background-origin: padding-box;
    border-radius: 60px 40px 20px 0px;

    box-shadow: grey 20px 20px 20px;
    text-shadow: grey 20px 20px 20px;

   

}

.p2{
    animation: mianimacion 1s ease-in-out 0s infinite normal none;
    position: relative;
}
@keyframes mianimacion{
    0%   {
        background-color:red; left:0px; top:0px;
    }
    25%  {
        background-color:yellow; left:200px; top:0px;
    }
    50%  {
        background-color:blue; left:200px; top:200px;
    }
    75%  {
        background-color:green; left:0px; top:200px;
    }
    100% {
        background-color:red; left:0px; top:0px;
    }
    }
