.p2 {
    animation: mianimacion 1s ease-in-out 0s infinite normal none;
}
@keyframes mianimacion{
    0%{
        background: red;
    }
    33%{
        background: blue;
    }
    66%{
        background: green;
    }
    100%{
        background: red;
    }
}
