.p1{
  margin: 1em;
}

.p3{
   margin: 2em;
}

section{
  
  background-position:50%;
  background-image: url("https://scontent.fvlc4-1.fna.fbcdn.net/v/t39.30808-6/309857639_481978730635702_2422932395565300381_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=xIH4kWjEWdAAX-CUnwh&_nc_ht=scontent.fvlc4-1.fna&oh=00_AfB10gq50R1CBkCiggFGwERUZnr57xSKPoDXGPPKaRQPqQ&oe=637250D1");
}