p:nth-child(even){
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-end;
}

p:nth-child(odd){
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
}