#main3 {
    font-family: sans-serif;
    color: white;
    background-color: rgb(67, 214, 148);
}
#about {
    text-align: center;
}
#parrafos {
    justify-content: center;
    display: flex;
}
#p1 {
    margin: 20px;
    width: 250px;
}
#p2 {
    margin: 20px;
    width: 250px;
}
#boton {
    text-align: center;
    background-color: transparent;
}
.boton-transparente {
    display: inline-block;
    width: 200px;
    margin-bottom: 10px;
    padding: 8px;
    color: #fff;
    border: 2px solid #fff;
    text-align: center;
    outline: none;
    text-decoration: none;
    transition: background-color 0.2s ease-out,
                color 0.2s ease-out;
    background-color: rgb(67, 214, 148);
  }
  .boton-transparente:hover,
  .boton-transparente:active {
    background-color: rgb(67, 214, 148);
    color: #000;
    transition: background-color 0.3s ease-in,
                color 0.3s ease-in;
  }