
<form name="FormularioGet" id = "formularioGet" class="formularioTipo1">
    <fieldset id = "info">
        <legend>Buscar jugador</legend>     
        <p>
            <label for = "id" style="padding: 5px;" >ID</label>
            <input type="text" name="id" placeholder="ID" [(ngModel)] = "id">
        </p>    
        <button type="button" (click)="getPlayer()">Buscar</button>
    </fieldset>
</form>

<table id="dataTable" class="tg" *ngIf="ok==true">
    <thead>
        <tr>
            <th class="th">Id</th>
            <th class="th">Nombre</th>
            <th class="th">Edad</th>
            <th class="th">Posición</th>
            <th class="th">Dorsal</th>
            <th class="th">Selección</th>
        </tr>
    </thead>
    <tbody>
        <tr> 
            <td class="tg-0lax">{{id}}</td>
            <td class="tg-0lax">{{name}}</td>
            <td class="tg-0lax" style="text-align: center;">{{age}}</td>
            <td class="tg-0lax">{{position}}</td>
            <td class="tg-0lax" style="text-align: center;">{{number}}</td>
            <td class="tg-0lax">{{team}}</td>      
        </tr>
    </tbody>
</table>