
<form name="FormularioGet" id = "formularioGet" class="formularioTipo1">
    <fieldset id = "info">
        <legend>Buscar jugador</legend>     
        <p>
            <label>Jugadores</label>
            <select name="playerName"  [(ngModel)] = "id">
                <option *ngFor="let player of players" value="{{player.id}}">
                    {{player.name}}
                </option>
            </select>
        </p>    
        <button type="button" (click)="getPlayer()">Buscar</button>
    </fieldset>
</form>

<table id="dataTable" class="tg" *ngIf="ok==true">
    <thead>
        <tr>
            <th class="th">Id</th>
            <th class="th">Nombre</th>
            <th class="th">Edad</th>
            <th class="th">Posición</th>
            <th class="th">Dorsal</th>
            <th class="th">Selección</th>
        </tr>
    </thead>
    <tbody>
        <tr> 
            <td class="tg-0lax">{{id}}</td>
            <td class="tg-0lax">{{name}}</td>
            <td class="tg-0lax" style="text-align: center;">{{age}}</td>
            <td class="tg-0lax">{{position}}</td>
            <td class="tg-0lax" style="text-align: center;">{{number}}</td>
            <td class="tg-0lax">{{team.name}}</td>      
        </tr>
    </tbody>
</table>