
<nav>
    <button type="button" [routerLink]="['/goToTeams/get-teams']">Ver selecciones</button>
    <button type="button" [routerLink]="['/goToTeams/get-team']">Buscar una selección</button>
    <button type="button" [routerLink]="['/goToTeams/post-team']">Crear una selección</button>
    <button type="button" [routerLink]="['/goToTeams/put-team']">Actualizar una selección</button>
    <button type="button" [routerLink]="['/goToTeams/add-player-to-team']">Añadir un jugador</button>
    <button type="button" [routerLink]="['/goToTeams/delete-team']">Borrar una selección</button>
</nav>

<router-outlet>
    
</router-outlet>
