<form name="FormularioDelete" id = "formularioDelete" class="formularioTipo1">
    <fieldset id = "info">
        <legend>Eliminar selección</legend>     
        <p>
            <label>Selecciones</label>
            <select name="teamName"  [(ngModel)] = "id">
                <option *ngFor="let team of teams" value="{{team.id}}">
                    {{team.name}}
                </option>
            </select>
        </p>    
        <button type="button" (click)="deleteTeam()" [routerLink]="['/goToTeams']"> Borrar</button>
    </fieldset>
</form>