<!--Directivas estructurales de angular
*ngIf
*ngFor
ngSwitch
-->
<h2>Actualmente tenemos {{articulos | total: 'stock'}} articulos</h2>

<article class="flex-row">
  <section class="articulo" *ngFor="let articulo of articulos">
    <div class="contenidoArt">
    <h1>{{articulo.name}}</h1>
    <img class="image" [src]="articulo.image" alt="">

    <section>
      <span [ngSwitch]="articulo.stock">
        <span *ngSwitchCase="0">
          <span [class.fuera-stock]="articulo.stock==0">Sin Stock</span>
        </span>
        <span *ngSwitchDefault>
            {{articulo.stock}} Unidades</span>
      </span>
    </section>

    <section>
      <button type="button" (click)="DownQuantity(articulo)">-</button>
    {{articulo.quantity}}
    <button type="button" (click)="UpQuantity(articulo)">+</button>
    </section>

    <section>
      <input (keydown)="teclaPulsada($event)" [(ngModel)]="articulo.quantity">
      <br>
      {{tecla | json}}
    </section>

    <section>
      Total compra: {{articulo.price*articulo.quantity}}
    </section>
  </div>
  </section>
</article>
