.image{
    width: 100px;
    height: 100px;
}

.articulo{
    margin:1em;
    border:1px solid gray;
    border-radius: 15px;
}

.flex-row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.fuera-stock{
    color: red;
}

.infoFloat{
    float: right;
}

.negrita{
    font-weight: bold;
}

#price{
    font-size: larger;
    font-weight: bold;
    border: 1px solid gray;
    border-radius: 10px;
}
