.articulo{
    margin:1em;
    border: 1px solid gray;
    border-radius:15px;
    width:150px;
}

.flex-row{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.en-stock:after{
    content:'Uds. disponible';
    width:200px;
    background-color: yellow;
}

.fuera-stock:after{
    content:'Fuera de stock';
    width:200px;
    background-color:red;
}

.azul{
    color:blue;
}