
<form name="FormularioPost" id = "formularioPost" class="formularioTipo1">
    <fieldset id = "info">
        <legend>Crear selección</legend>     
        <p>
            <label for = "name" style="padding: 5px;" >Nombre</label>
            <input type="text" name="name" placeholder="Nombre" [(ngModel)] = "name">
        </p>    
        <button type="button" (click)="postTeam()">Crear</button>
        

        <!-- <button type="button" (click)="post()">Crear</button> -->
    </fieldset>
</form>
