<h1>Welcome</h1>
<section>
 
</section>

<!--Directivas estructurales de Angular 
*ngIf
*ngFor
*NgSwich
-->
<!-- <app-lista-articulos></app-lista-articulos>
<strong>Padre</strong>
<input [(ngModel)]="datoPadre">
<p>Dato Output recibido del hijo : {{datoHijoOutput}}</p>
<app-post [datoHijo]="datoPadre" (datoHijoOutput)="recogeOutputHijo($event)"></app-post>
<app-put></app-put>
<app-delete></app-delete> -->
<input [(ngModel)]="id">
<nav>
  <button type="button" [routerLink]="['/go-post']">Ir a Post</button>

  <button type="button" [routerLink]="['/go-lista-articulos']">Ir a Lista Articulos</button>

  <button type="button" (click)="iraPost(id)">Ir al Post</button>

  <button type="button" [routerLink]="['/go-clientes']">Ir clientes</button>
</nav>
<router-outlet>
  
</router-outlet>
<!-- <h2>Actualmente tenemos {{articulos | total: 'stock'}} articulos</h2>

<article class="flex-row">
  <section *ngFor='let articulo of articulos;let i =index' class="articulo">
    <h2>[{{i}}]{{articulo.id}}</h2>

    <section [ngSwitch] = 'articulo.name'>
      <p *ngSwitchCase="'Articulo1'"><strong>{{articulo.name | uppercase}}</strong></p>
      <p *ngSwitchDefault>{{articulo.name}}</p>
    </section>
    <p>{{articulo.description}}</p>
    <p *ngIf="articulo.stock>0">{{articulo.stock}} en Stock</p>
    <p *ngIf="articulo.stock==0"><strong>Sin Stock</strong></p>
    <p>{{articulo.price | currency:'EUR'}}</p>
  </section>
</article> -->

