
<nav>
    <button type="button" [routerLink]="['/goToPlayers/get-players']">Ver jugadores</button>
    <button type="button" [routerLink]="['/goToPlayers/get-player']">Buscar un jugador</button>
    <button type="button" [routerLink]="['/goToPlayers/post-player']">Crear un jugador</button>
    <button type="button" [routerLink]="['/goToPlayers/put-player']">Actualizar un jugador</button>
    <button type="button" [routerLink]="['/goToPlayers/delete-player']">Borrar un jugador</button>
</nav>

<router-outlet>
    
</router-outlet>