nav {
    width: 80%;
    height: 23px;
    &:hover { text-decoration:underline;}
    ul { list-style-type: none; }
    li {
    float: left;
    a { font-weight: bold; }
    }
    }







$A : 15px;

if{$A:15 px; $color:red; $color:rgb(255, 0, 166)}