/* You can add global styles to this file, and also import other style files */

button{
    background-color: green;
    border-color: green;
    border-style: none;
    color:white;
}

option{
    padding: 5px;
}

label{
    padding: 5px;
}

table{
    border-color:white;
    border-style:solid;
    border-width:3px;
}

thead{
    border-color:green
}

.tg  {
    align-items: center;
    box-shadow: 10px 10px 15px; 
    background-color: rgb(0, 0, 0);
    color:black}

.tg td{
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;
    background-color: white;
    color:black}

.tg th{
    border-color:black;
    border-style:solid;
    border-width:1px;
    font-weight:normal; 
    text-align: center; 
    font-weight: bold;
    background-color: white;
    color:black}

.tg .tg-0lax{
    border-color:black;
    border-style:solid;
    border-width:1px;
    text-align:left;
    vertical-align:top; 
    font-weight: 300;
    background-color: white;
    color:black}




    
.formularioTipo1{
    padding:10px; 
    border-style: solid;
    border-color: black; 
    border-width: 3px; 
    margin-right: 800px;
    margin-left: 10px;
    margin-bottom: 50px;
    margin-top: 10px;
    background-color: white;
    color:black
}


.formularioTipo2{
    padding:10px; 
    border-style: solid;
    border-color: black; 
    border-width: 3px; 
    margin-right: 50px;
    margin-bottom: 50px;
    background-color: white;
    color:black
}

body{
    margin:0px;
    font-family: Arial;
}