<h1>Lista de Jugadores</h1>
    <table id="dataTable" class="tg">
        <thead>
            <tr>
                <th class="th">Nombre</th>
                <th class="th">Edad</th>
                <th class="th">Posición</th>
                <th class="th">Dorsal</th>
                <th class="th">Selección</th>
            </tr>
        </thead>
        <tbody>

        
        <tr  *ngFor="let player of players">
            <td class="tg-0lax">{{player.name}}</td>
            <td class="tg-0lax" style="text-align: center;">{{player.age}}</td>
            <td class="tg-0lax">{{player.position}}</td>
            <td class="tg-0lax" style="text-align: center;">{{player.number}}</td>
            <td class="tg-0lax">{{player.team.name}}</td>   
        </tr>
        


        </tbody>
    </table>